.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

[class*='-button'] {
  width: 90%;
  height: 65px;
  border-radius: 30px;
  margin: 10px 0;
  padding: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    display: block;
    opacity: 0.9;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    transform: scale(1.5) translateX(0%) translateY(-100%);
    transition: transform .5s ease-out;
    border-radius: 50%;
    z-index: 10;
  }

  &:hover::after {
    transform: scale(1.5) translateX(0) translateY(0);
  }

  .button-text {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
    text-align: center;
    opacity: 1;
    z-index: 20;    
  }
}